[profile default]
output = json
region = eu-west-1

[profile crossaccount]
role_arn = CROSSACCOUNT_ROLE
role_session_name = EnableSecurityHub
source_profile = default
output = json
region = eu-west-1

[profile listaccounts]
role_arn = LIST_ACCOUNTS_ROLE
role_session_name = ListAccountsForSecurityHub
source_profile = crossaccount
output = json
region = eu-west-1
